body {
    margin: 0px;
    padding: 0px;

}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/724994/pexels-photo-724994.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
}

.menu{
    position: absolute;
    top: 47vh;
    left: 42vw;
    transform: translate(-50%,-50%);
}
.btn_custom{
    display: block;
    background: black !important;
}

.btn_custom:hover{
    background-color: #26a69a !important;
}
.recordList{
    width: 100vw;
    height: 100vh;
    opacity: .4;
    background: gray;
    position: absolute;
}
table{
    position: relative;
    width: 50vw !important;
    background: white;
    opacity: .8;
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    border: solid !important;
}
td,th{
    text-align: center !important;
}



/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */

/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
    /*transform: rotateY(180deg);*/
/*}*/

.flip_card{ transform: rotateY(180deg);}


.flip-container, .front, .back {
    width: 200px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    background: white;
    border-radius: 20px;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    filter: invert(1);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);

}

.card_border{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    border: solid 8px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

}

.card_logo_front{
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(https://static.thenounproject.com/png/4059-200.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 125px;
    transform: translate(-50%,-50%);
}
.card_logo_back{
    position: absolute;
    top: 50%;
    left: 50%;

    background: url(https://static.thenounproject.com/png/4059-200.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 125px;
    transform: translate(-50%,-50%);
}

.stopwatch {
    font-size: 5vw;
    text-align: center;
}

.card_section{
    padding: 20px 0 20px 20px;
    float: left;
    width: 20%;
    flex: 1;
}
.game_section{
    display: flex;
    flex-flow: wrap;

}
.memory-card{

    transform: scale(1);
}

.memory-card:active{

    transform: scale(.97);
    transition: transform .2s;
}
.btn_restart{
    margin: 45px 71px;
    position: absolute;
    transform: scale(1.5);
}

.swal2-confirm, swal2-styled{
    background-color:#26a69a !important; ;
}